In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
customers = pd.read_csv('./source/customers.csv')
locations = pd.read_csv('./source/locations.csv')
orders = pd.read_csv('./source/orders.csv')
order_items = pd.read_csv('./source/order_items.csv')
payments = pd.read_csv('./source/payments.csv')
products = pd.read_csv('./source/products.csv')
reviews = pd.read_csv('./source/reviews.csv')
sellers = pd.read_csv('./source/sellers.csv')

In [7]:
order_items.loc[order_items['Product_id']=='PRODUCT_02093']

,Order_id,Order_item_id,Product_id,Seller_id,Price,Freight_value
5726,ORDER_23663,1,PRODUCT_02093,SELLER_0491,29.99,7.78
7311,ORDER_22755,1,PRODUCT_02093,SELLER_0491,29.99,7.78
75375,ORDER_28526,1,PRODUCT_02093,SELLER_0491,29.99,14.10
89966,ORDER_00000,1,PRODUCT_02093,SELLER_0491,29.99,8.72

In [8]:
payments.loc[payments['Order_id']=='ORDER_68748']

,Order_id,Payment_sequential,Payment_type,Payment_installments,Payment_value
3847,ORDER_68748,19,voucher,1,1.68
12701,ORDER_68748,1,credit_card,1,2.20
14411,ORDER_68748,14,voucher,1,0.97
16714,ORDER_68748,15,voucher,1,1.11
18985,ORDER_68748,6,voucher,1,2.26
28732,ORDER_68748,26,voucher,1,23.10
33716,ORDER_68748,2,voucher,1,1.45
34711,ORDER_68748,25,voucher,1,1.53
35846,ORDER_68748,5,voucher,1,2.69
35863,ORDER_68748,3,voucher,1,1.15
36767,ORDER_68748,7,voucher,1,1.60
40715,ORDER_68748,11,voucher,1,2.97
43589,ORDER_68748,13,voucher,1,1.04
45956,ORDER_68748,24,voucher,1,2.79
47569,ORDER_68748,22,voucher,1,1.06
53440,ORDER_68748,23,voucher,1,1.03
63210,ORDER_68748,10,voucher,1,1.20
67943,ORDER_68748,20,voucher,1,0.99
70268,ORDER_68748,8,voucher,1,2.42
77918,ORDER_68748,9,voucher,1,0.97
78250,ORDER_68748,18,voucher,1,1.40
81048,ORDER_68748,12,voucher,1,2.45
82854,ORDER_68748,21,voucher,1,1.45
84066,ORDER_68748,16,voucher,1,1.07
84317,ORDER_68748,4,voucher,1,0.99
85545,ORDER_68748,17,voucher,1,1.11

In [3]:
temp = pd.merge(reviews,order_items, how='inner',on='Order_id')
temp = pd.merge(temp,orders, how='inner',on='Order_id')
temp = pd.merge(temp,payments, how='inner',on='Order_id')
temp = pd.merge(temp,products, how='inner',on='Product_id')
temp = pd.merge(temp,customers, how='inner',on='Customer_id')
temp = pd.merge(temp,sellers, how='inner',on='Seller_id')
# temp = temp.drop(["Review_creation_date","Review_answer_timestamp","Order_status","Payment_sequential","Payment_type","Payment_installments"],axis=1)
# temp = temp.drop(["Product_weight_g","Product_length_cm","Product_height_cm","Customer_zipcode_prefix","Seller_zipcode_prefix"],axis=1)
# temp = temp.drop(["Product_width_cm"],axis=1)

In [4]:
temp

,Review_id,Order_id,Review_score,Review_creation_date,Review_answer_timestamp,Order_item_id,Product_id,Seller_id,Price,Freight_value,...,Product_length_cm,Product_height_cm,Product_width_cm,Customer_unique_id,Customer_zipcode_prefix,Customer_city,Customer_state,Seller_zipcode_prefix,Seller_city,Seller_state
0,REVIEW_00000,ORDER_01674,4,2019-01-18 00:00:00,2019-01-18 21:46:59,1,PRODUCT_21853,SELLER_0286,185.00,13.63,...,30.0,30.0,35.0,CUSTOMER_Unique_38397,6030,osasco,SP,14600,sao joaquim da barra,SP
1,REVIEW_00000,ORDER_01674,4,2019-01-18 00:00:00,2019-01-18 21:46:59,2,PRODUCT_21853,SELLER_0286,185.00,13.63,...,30.0,30.0,35.0,CUSTOMER_Unique_38397,6030,osasco,SP,14600,sao joaquim da barra,SP
2,REVIEW_00001,ORDER_80140,5,2019-03-10 00:00:00,2019-03-11 03:05:13,1,PRODUCT_18124,SELLER_0262,79.79,8.30,...,19.0,14.0,14.0,CUSTOMER_Unique_79322,13380,nova odessa,SP,12233,sao jose dos campos,SP
3,REVIEW_00002,ORDER_69816,5,2019-02-17 00:00:00,2019-02-18 14:36:24,1,PRODUCT_07372,SELLER_2445,149.00,45.12,...,20.0,20.0,20.0,CUSTOMER_Unique_26812,44571,santo antonio de jesus,BA,37175,ilicinea,MG
4,REVIEW_00003,ORDER_24398,5,2018-04-21 00:00:00,2018-04-21 22:02:06,1,PRODUCT_22159,SELLER_2445,179.99,42.85,...,20.0,20.0,20.0,CUSTOMER_Unique_60663,88735,gravatal,SC,37175,ilicinea,MG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104951,REVIEW_87298,ORDER_58840,5,2019-07-07 00:00:00,2019-07-14 17:18:30,1,PRODUCT_25263,SELLER_0766,226.77,61.20,...,100.0,25.0,25.0,CUSTOMER_Unique_06622,74810,goiania,GO,9270,santo andre,SP
104952,REVIEW_87299,ORDER_75162,5,2018-12-09 00:00:00,2018-12-11 20:06:42,1,PRODUCT_03024,SELLER_2634,199.99,9.77,...,23.0,27.0,19.0,CUSTOMER_Unique_47339,22793,rio de janeiro,RJ,22240,rio de janeiro,RJ
104953,REVIEW_87300,ORDER_08690,5,2019-03-22 00:00:00,2019-03-23 09:10:43,1,PRODUCT_24946,SELLER_1192,215.97,15.59,...,40.0,37.0,29.0,CUSTOMER_Unique_83387,37200,lavras,MG,32677,betim,MG
104954,REVIEW_87301,ORDER_25681,4,2019-07-01 00:00:00,2019-07-02 12:59:13,1,PRODUCT_20058,SELLER_0642,50.95,15.46,...,16.0,10.0,11.0,CUSTOMER_Unique_53535,32667,betim,MG,9780,sao bernardo do campo,SP
104955,REVIEW_87302,ORDER_45326,1,2018-07-03 00:00:00,2018-07-03 21:01:49,1,PRODUCT_01615,SELLER_1845,32.90,7.78,...,35.0,5.0,15.0,CUSTOMER_Unique_81189,7085,guarulhos,SP,4809,sao paulo,SP

In [5]:
temp.loc[temp['Order_id']=='ORDER_14054']

,Review_id,Order_id,Review_score,Review_creation_date,Review_answer_timestamp,Order_item_id,Product_id,Seller_id,Price,Freight_value,...,Product_length_cm,Product_height_cm,Product_width_cm,Customer_unique_id,Customer_zipcode_prefix,Customer_city,Customer_state,Seller_zipcode_prefix,Seller_city,Seller_state
5039,REVIEW_04251,ORDER_14054,2,2018-09-19 00:00:00,2018-09-22 15:23:29,1,PRODUCT_17478,SELLER_1383,194.99,20.85,...,28.0,22.0,20.0,CUSTOMER_Unique_36973,71900,brasilia,DF,4403,sao paulo,SP
10359,REVIEW_08722,ORDER_14054,3,2018-09-14 00:00:00,2018-09-17 11:14:08,1,PRODUCT_17478,SELLER_1383,194.99,20.85,...,28.0,22.0,20.0,CUSTOMER_Unique_36973,71900,brasilia,DF,4403,sao paulo,SP